*.class

# BlueJ files
*.ctxt
.DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.jpg
*.jpeg
*.png
*.mp4
*.txt
*.log
*.gz


logs
build
target
.idea
.idea/
.idea_modules
.classpath
.settings
.project
.springBeans

target/
*.iml

.keys_secrets
